language: bash

matrix:
  include:
  - name: "CUDALucas"
    install:
    - sudo apt-get -yqq update
    - sudo apt-get -yqq install cppcheck
    before_script:
    - sed -i '/^GPU=/,/^fi/ s/^/# /' cudalucas.sh
    - sed -i '/^if ! COMPUTE=/,/^fi/ s/^/# /' cudalucas.sh
    - sed -i 's/\/$COMPUTE/\/--generate-code arch=compute_35,code=sm_35 --generate-code arch=compute_50,code=sm_50/' cudalucas.sh
    - sed -i '/^\.\/CUDALucas / s/^/# /' cudalucas.sh
    - sed -i '/^nohup / s/^/# /' cudalucas.sh
    - sed -i '/^crontab / s/^/# /' cudalucas.sh
    script:
    - bash -e -- cudalucas.sh password ANONYMOUS
    - cppcheck --enable=all .
  - name: "Mlucas (Intel)"
    arch: amd64
  - name: "Mlucas (ARM)"
    arch: arm64

before_script:
    - sudo apt-get -yqq update
    - sudo apt-get -yqq install xz-utils
    - sed -i '/^[[:blank:]]*nohup / s/^/# /' mlucas.sh
    - sed -i '/^crontab / s/^/# /' mlucas.sh
script:
    - bash -e -- mlucas.sh password ANONYMOUS
after_script:
    - bash -c 'shopt -s globstar; shellcheck -s bash **/*.sh || true'

